[Unit]
Description=Dunst Notification Daemon
After=graphical-session.target
PartOf=graphical-session.target

[Service]
ExecStart=/usr/bin/dunst
Restart=on-failure
Slice=session.slice

[Install]
WantedBy=graphical-session.target
