[Unit]
Description=WirePlumber Session Manager
After=pipewire.service
PartOf=graphical-session.target

[Service]
ExecStart=/usr/bin/wireplumber
Restart=on-failure
Slice=session.slice

[Install]
WantedBy=graphical-session.target
